@tailwind base;
@tailwind components;
@tailwind utilities;

#MainDivFirstDiv {
  border-top-left-radius: 50px; 
  border-bottom-left-radius: 50px; 
}



body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* overflow-x: hidden; */
}

